.dinosaurBtn {
  width: 450px;
  height: 300px;
  background-color: var(--terciary);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  clip-path: polygon(
    30% 97%,
    27% 90%,
    25% 80%,
    25% 68%,
    28% 70%,
    28% 65%,
    30% 69%,
    31% 63%,
    32% 66%,
    33% 61%,
    34% 64%,
    35% 61%,
    35% 57%,
    37% 58%,
    38% 56%,
    37% 51%,
    40% 53%,
    42% 46%,
    39% 41%,
    43% 41%,
    44% 36%,
    44% 30%,
    47% 32%,
    48% 30%,
    46% 25%,
    50% 27%,
    52% 26%,
    52% 19%,
    53% 24%,
    56% 22%,
    60% 21%,
    63% 18%,
    66% 21%,
    68% 22%,
    69% 25%,
    67% 30%,
    68% 32%,
    68% 36%,
    69% 41%,
    71% 37%,
    69% 27%,
    71% 29%,
    73% 32%,
    74% 35%,
    73% 37%,
    74% 40%,
    73% 43%,
    76% 47%,
    79% 42%,
    75% 36%,
    75% 33%,
    80% 39%,
    84% 41%,
    85% 41%,
    88% 46%,
    92% 50%,
    95% 57%,
    96% 63%,
    95% 67%,
    93% 69%,
    92% 68%,
    91% 65%,
    90% 68%,
    90% 65%,
    89% 67%,
    88% 64%,
    86% 67%,
    86% 64%,
    85% 66%,
    85% 63%,
    84% 65%,
    84% 63%,
    83% 65%,
    82% 63%,
    81% 67%,
    80% 64%,
    79% 68%,
    79% 65%,
    77% 67%,
    77% 65%,
    76% 67%,
    76% 65%,
    75% 68%,
    74% 64%,
    73% 67%,
    73% 64%,
    71% 62%,
    70% 63%,
    69% 61%,
    67% 60%,
    66% 62%,
    65% 64%,
    65% 63%,
    63% 64%,
    62% 66%,
    64% 67%,
    66% 68%,
    67% 70%,
    66% 71%,
    68% 74%,
    69% 76%,
    70% 75%,
    70% 78%,
    71% 77%,
    72% 79%,
    73% 78%,
    74% 80%,
    75% 78%,
    75% 80%,
    76% 79%,
    77% 81%,
    78% 79%,
    78% 82%,
    79% 79%,
    80% 83%,
    81% 80%,
    81% 83%,
    83% 81%,
    83% 84%,
    84% 82%,
    84% 86%,
    86% 85%,
    86% 88%,
    87% 85%,
    88% 88%,
    88% 90%,
    86% 92%,
    84% 92%,
    80% 93%,
    77% 93%,
    74% 89%,
    71% 88%,
    68% 87%,
    63% 83%,
    58% 79%,
    55% 72%,
    56% 79%,
    54% 73%,
    52% 73%,
    53% 81%,
    51% 76%,
    50% 83%,
    49% 77%,
    48% 86%,
    47% 79%,
    46% 81%,
    46% 89%,
    45% 96%,
    44% 91%,
    44% 83%,
    43% 91%,
    42% 96%,
    41% 91%,
    42% 85%,
    40% 89%,
    39% 91%,
    40% 97%,
    37% 93%,
    37% 88%,
    36% 91%,
    36% 96%,
    36% 99%,
    35% 96%,
    34% 91%,
    33% 95%,
    33% 98%
  );
}
@media screen and (max-width:700px) {
  .dinosaurBtn {
    width: 300px;
    height: 200px;
  }
}
@media screen and (min-width:1000px) {
  .dinosaurBtn {
    width: 480px;
    height: 300px;
  }
}
@media screen and (min-width:1520px) {
  .dinosaurBtn {
    width: 750px;
    height: 450px;
  }
}